/* Add your CSS styles to make your quiz visually appealing */
.container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fbafe3;
    border-radius: 5px;
}

h1 {
    font-size: 36px;
}

#quiz {
    background-color: #b3ffcc;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
    background-color: #b3ffcc;
}

button {
    background-color: #89c2ff;
    color: #000000;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#timer {
    font-size: 20px;
    margin-top: 20px;
}

#game-over {
    display: none;
}

label {
    font-weight: bold;
}

input {
    padding: 5px;
    margin: 5px;
}

.feedback {
    display: none; /* Initially hide the feedback element */
    color: rgb(236, 39, 163); /* You can change the color to your preference */
    font-weight: bold;
}

.top-score {
    display: none;
    font-weight: bold;
}